/* Always set the map height explicitly to define the size of the div element that contains the map. */
#map {
  height: 400px;
  border: 1px solid black;
}
#stateSelect {
  margin: 5px, 5px, 5px, 5px;
}
.flexChex{
  display: inline-grid;
}
.darkerLetter {
  color:rgb(109, 104, 104)
}


.widthSize {
  width: 200%;
}

li {
  padding: 20px;
}

li img {
  width: 350px;
  height: 200px;
}
