/* Adding style for map element. We can change this to use Materialize. */
#map {
  height: 400px;
  width: 400px;
  border: 1px solid black;
}
#stateSelect {
  margin: 5px, 5px, 5px, 5px;
}
.flexChex{
  display: inline-grid;
}
.darkerLetter {
  color:rgb(109, 104, 104)
}


.widthSize {
  width: 200%;
}

